@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@600;800&family=Roboto:wght@300&family=Young+Serif&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  scroll-behavior: smooth;
  font-family: Lato;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  background: #222;
}

.header_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 41px;
}

.header__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 41px;
  padding-top: 8px;
  padding-right: 9px;
  position: relative;
}

.header__right::after {
  position: absolute;
  content: "5";
  background-color: #f16d7f;
  top: 0;
  right: 0;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  color: #fff;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__mobile-display {
  display: none;
}

.main {
  margin-bottom: 95.5px;
}

.banner {
  width: 100%;
  background-color: #f1e4e6;
  margin-bottom: 65px;
}

.banner__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 60px;
}

.banner__wrapper-image {
  max-width: 100%;
  width: 600px;
  /* height: 764px; */
}

.banner__right__text {
  border-left: 12px solid #f16d7f;
  padding-left: 16px;
}

.banner__right__text p {
  color: #222;
  font-family: Lato;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

#LUXERIOUS {
  color: #222;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#FASHION {
  color: #f16d7f;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.line1 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  justify-content: center;
  align-content: center;
  gap: 30px;
  margin-bottom: 96px;
}

.card {
  background-repeat: no-repeat;
  width: 360px;
  max-width: 100%;
  background-size: cover;
}

.card1 {
  background-image: url(./img/line1_w1.png);
}

.line1__background {
  background-color: rgba(33, 22, 22, 0.7);
  width: 100%;
  height: 100%;
}

.card__text {
  padding-top: 105px;
  padding-bottom: 105px;
}

.card__text h2 {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card__text h3 {
  color: #f16d7f;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card__text4 {
  padding-top: 65px;
  padding-bottom: 65px;
}

.card__text4 h2 {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card__text4 h3 {
  color: #f16d7f;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card2 {
  background-image: url(./img/line1_m1.png);
}

.card3 {
  background-image: url(./img/line1_kid.png);
}

.card4 {
  background-image: url(./img/line1_4.png);
  width: 1138px;
  height: 180px;
  grid-column: 1/4;
  grid-row: 2/3;
}

.line2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 64.52px;
}

.featured {
  text-align: center;
  margin-bottom: 72px;
}

.featured h2 {
  color: #222;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.featured p {
  color: #9f9f9f;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.line2__card__list {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto;
  gap: 30px;
  margin-bottom: 52.48px;
}

.line2__card1 {
  display: flex;
  flex-direction: column;
}

.line2__card1:hover .line2__card1__pointer {
  display: flex;
}

.line2__card1:hover .line2__card1-img {
  display: none;
}

.line2__card1__pointer {
  position: relative;
  background: url(./img/line2_m1.png);
  background-size: cover;
  width: 100%;
  height: 100%;
  display: none;
}

.pointer-background {
  background: rgba(58, 56, 56, 0.86);
  width: 100%;
  height: 100%;
}

.line2__card1__pointer h2 {
  color: #fff;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.line2__card1__cart a {
  display: flex;
  flex-direction: row;
  position: absolute;
  gap: 11.04px;
  align-items: center;
  justify-content: center;
  top: 50%;
  width: 140px;
  text-align: center;
  padding: 11.29px 16px 8.73px 13.54px;
  border: #ffffff 1px solid;
  left: 30%;
}

.line2_card-img {
  width: 360px;
}

/* line 2 card2 */

.line2__card2 {
  display: flex;
  flex-direction: column;
}

.line2__card2:hover .line2__card2__pointer {
  display: flex;
}

.line2__card2:hover .line2__card2-img {
  display: none;
}

.line2__card2__pointer {
  position: relative;
  background: url(./img/line2_w1.png);
  background-size: cover;
  width: 100%;
  height: 100%;
  display: none;
}

.line2__card2__pointer h2 {
  color: #fff;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.line2__card2__cart a {
  display: flex;
  flex-direction: row;
  position: absolute;
  gap: 11.04px;
  align-items: center;
  justify-content: center;
  top: 50%;
  width: 140px;
  text-align: center;
  padding: 11.29px 16px 8.73px 13.54px;
  border: #ffffff 1px solid;
  left: 30%;
}

/* line 2 card 2 end */

/* line 2 card 3 */

.line2__card3 {
  display: flex;
  flex-direction: column;
}

.line2__card3:hover .line2__card3__pointer {
  display: flex;
}

.line2__card3:hover .line2__card3-img {
  display: none;
}

.line2__card3__pointer {
  position: relative;
  background: url(./img/line2_m2.png);
  background-size: cover;
  width: 100%;
  height: 100%;
  display: none;
}

.line2__card3__pointer h2 {
  color: #fff;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.line2__card3__cart a {
  display: flex;
  flex-direction: row;
  position: absolute;
  gap: 11.04px;
  align-items: center;
  justify-content: center;
  top: 50%;
  width: 140px;
  text-align: center;
  padding: 11.29px 16px 8.73px 13.54px;
  border: #ffffff 1px solid;
  left: 30%;
}

/* line 2 card3 end */

/* card 4 */

.line2__card4 {
  display: flex;
  flex-direction: column;
}

.line2__card4:hover .line2__card4__pointer {
  display: flex;
}

.line2__card4:hover .line2__card4-img {
  display: none;
}

.line2__card4__pointer {
  position: relative;
  background: url(./img/line2_m3.png);
  background-size: cover;
  width: 100%;
  height: 100%;
  display: none;
}

.line2__card4__pointer h2 {
  color: #fff;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.line2__card4__cart a {
  display: flex;
  flex-direction: row;
  position: absolute;
  gap: 11.04px;
  align-items: center;
  justify-content: center;
  top: 50%;
  width: 140px;
  text-align: center;
  padding: 11.29px 16px 8.73px 13.54px;
  border: #ffffff 1px solid;
  left: 30%;
}

/* card 4 end */

/* card 5 */

.line2__card5 {
  display: flex;
  flex-direction: column;
}

.line2__card5:hover .line2__card5__pointer {
  display: flex;
}

.line2__card5:hover .line2__card5-img {
  display: none;
}

.line2__card5__pointer {
  position: relative;
  background: url(./img/line2_w2.png);
  background-size: cover;
  width: 100%;
  height: 100%;
  display: none;
}

.line2__card5__pointer h2 {
  color: #fff;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.line2__card5__cart a {
  display: flex;
  flex-direction: row;
  position: absolute;
  gap: 11.04px;
  align-items: center;
  justify-content: center;
  top: 50%;
  width: 140px;
  text-align: center;
  padding: 11.29px 16px 8.73px 13.54px;
  border: #ffffff 1px solid;
  left: 30%;
}

/* card 5 end */

/* line 2 card 6 */

.line2__card6 {
  display: flex;
  flex-direction: column;
}

.line2__card6:hover .line2__card6__pointer {
  display: flex;
}

.line2__card6:hover .line2__card6-img {
  display: none;
}

.line2__card6__pointer {
  position: relative;
  background: url(./img/line2_w3.png);
  background-size: cover;
  width: 100%;
  height: 100%;
  display: none;
}

.line2__card6__pointer h2 {
  color: #fff;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.line2__card6__cart a {
  display: flex;
  flex-direction: row;
  position: absolute;
  gap: 11.04px;
  align-items: center;
  justify-content: center;
  top: 50%;
  width: 140px;
  text-align: center;
  padding: 11.29px 16px 8.73px 13.54px;
  border: #ffffff 1px solid;
  left: 30%;
}

/* line2 card 6 end */

.line2__text {
  padding: 28.8px 16.6px;
}

.line2__text h2 {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
}

.line2__text p {
  color: #5d5d5d;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 16px;
}

.line2__text h3 {
  color: #f16d7f;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.browse {
  max-width: 215px;
  border: 1px solid #ff6a6a;
  padding: 15px 35px;
}

.browse h2 {
  color: #f26376;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer {
  display: flex;
  flex-direction: column;
}

.footer1 {
  background-color: #222224;
}

.footer1__wrapper {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 103px;
  margin-bottom: 104px;
  text-align: center;
}

.footer1__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer1__item img {
  margin-bottom: 20px;
}

.footer1__item h2 {
  color: #fbfbfb;
  font-family: Lato;
  font-size: 19.96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
}

.footer1__item p {
  color: #fbfbfb;
  text-align: center;
  font-family: Lato;
  font-size: 13.972px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  max-width: 360px;
}

.footer2 {
  background: url(./img/footer/Layer41.png) no-repeat center center fixed,
    lightgray 0px -169px / 100% 246.875%;
  background-size: cover;
}

.footer2__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 223px;
}

.footer2_item1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  margin-top: 97px;
  margin-bottom: 126px;
}

.footer2_item1 h2 {
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 360px;
}

.footer2_item1 h2 span {
  color: #222224;
  font-family: Lato;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.footer2_item2 {
  display: flex;
  flex-direction: column;
  gap: 39px;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 156px;
  text-align: center;
}

.footer2_item2 h2 {
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 167.2%;
  /* 40.128px */
}

.footer2_item2 p {
  color: #222224;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 167.2%;
}

.footer2__mail-button {
  display: flex;
  flex-direction: row;
  width: 356px;
}

.footer2__input {
  color: #222224;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.671;
  background: #e1e1e1;
  border: none;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  width: 256px;
  height: 49px;
  flex-shrink: 0;
  padding-left: 22px;
}

.footer2__button {
  background: #e05c6e;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 100px;
  height: 49px;
  flex-shrink: 0;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer2__button:hover {
  background: #fff;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 100px;
  height: 49px;
  flex-shrink: 0;
  border: none;
  color: #e05c6e;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer3 {
  background-color: #222224;
}

.footer3__wrapper {
  display: flex;
  flex-direction: row;
  gap: 655px;
  justify-content: space-between;
  align-items: center;
}

.footer3_item1 {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 332px;
}

.footer3_item1 p {
  color: #fbfbfb;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer3_item2 {
  display: flex;
  flex-direction: row;
  gap: 7.29px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.footer3__item2__button {
  background: url(./img/footer/Rectangle\ 14_white.svg);
  width: 31.451px;
  height: 32px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer3__item2__button:hover {
  background: url(./img/footer/Rectangle\ 14_pink.svg);
}

@media (min-width: 770px) and (max-width: 1139.99px) {
  .container {
    max-width: 735px;
  }
  .banner__right__text p {
    font-size: 44px;
  }
  #LUXERIOUS {
    font-size: 24px;
  }
  #FASHION {
    font-size: 24px;
  }
  .banner__wrapper-image {
    width: 289.5px;
  }
  .card {
    width: 232px;
    /* height: auto; */
  }
  .card4 {
    width: 100%;
    height: 116px;
    grid-column: 1/4;
    grid-row: 2/3;
  }
  .card__text {
    padding-top: 59px;
    padding-bottom: 59px;
  }
  .card__text4 {
    padding-top: 33px;
    padding-bottom: 33px;
  }
  .line2__card__list {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-bottom: 47.5px;
  }
  .footer1__wrapper {
    flex-direction: column;
    gap: 48.3px;
    margin-top: 48px;
    margin-bottom: 64px;
  }
  .footer2__wrapper {
    flex-direction: column;
    gap: 48px;
    margin-bottom: 140px;
  }
  .footer2_item1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 0;
  }
  .footer2_item2 {
    display: flex;
    flex-direction: column;
    gap: 34px;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
  }
  .footer3__wrapper {
    gap: 305px;
  }
  .footer3_item1 {
    width: 251px;
  }
}

@media (min-width: 375px) and (max-width: 769.99px) {
  .container {
    max-width: 370px;
  }
  .header__right {
    display: none;
  }
  .header__mobile-display {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 41px;
  }
  .hidden-mobile {
    display: none;
  }
  .banner__wrapper {
    padding-top: 148px;
    padding-bottom: 148px;
  }
  .banner__right__text p {
    font-size: 38px;
  }
  #LUXERIOUS {
    font-size: 20px;
  }
  #FASHION {
    font-size: 20px;
  }
  .line1 {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 64px;
  }
  .card4 {
    width: 344px;
    height: 111px;
    background-image: url(./img/line1_4.png);
  }
  .card__text4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .line2 {
    margin-bottom: 96px;
  }
  .featured {
    margin-bottom: 65px;
  }
  .line2__card__list {
    display: flex;
    flex-direction: column;
    gap: 16.6px;
    margin-bottom: 60.56px;
  }
  .footer1__wrapper {
    flex-direction: column;
    gap: 46.8px;
    margin-top: 48px;
    margin-bottom: 81px;
  }
  .footer2__wrapper {
    flex-direction: column;
    gap: 59px;
  }
  .footer2_item1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 0;
  }
  .footer2_item2 {
    gap: 22.5px;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 109px;
    text-align: center;
  }
  .footer3__wrapper {
    flex-direction: column-reverse;
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 9px;
  }
  .footer3_item1 p {
    text-align: center;
  }
  .footer3_item1 {
    padding-top: 0;
    padding-bottom: 0;
    width: 251px;
  }
  .footer3_item2 {
    display: flex;
    flex-direction: row;
    gap: 7.29px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
